In [2]:
import pandas as pd

data = {
    'company': ['Toyota', 'Honda', 'Ford', 'Toyota', 'Honda'],
    'fuel_type': ['Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol'],
    'transmission': ['Automatic', 'Manual', 'Automatic', 'Automatic', 'Manual']
}

In [4]:
df = pd.DataFrame(data)
df

  company fuel_type transmission
0  Toyota    Petrol    Automatic
1   Honda    Diesel       Manual
2    Ford    Petrol    Automatic
3  Toyota    Diesel    Automatic
4   Honda    Petrol       Manual

In [16]:
inputs = df

In [21]:
inputs[['company','fuel_type','transmission']]

  company fuel_type transmission
0  Toyota    Petrol    Automatic
1   Honda    Diesel       Manual
2    Ford    Petrol    Automatic
3  Toyota    Diesel    Automatic
4   Honda    Petrol       Manual

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le_company = LabelEncoder()
le_fuel_type = LabelEncoder()
le_transmission = LabelEncoder()

In [23]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['fuel_type_n'] = le_company.fit_transform(inputs['fuel_type'])
inputs['transmission_n'] = le_company.fit_transform(inputs['transmission'])

In [24]:
inputs

  company fuel_type transmission  company_n  fuel_type_n  transmission_n
0  Toyota    Petrol    Automatic          2            1               0
1   Honda    Diesel       Manual          1            0               1
2    Ford    Petrol    Automatic          0            1               0
3  Toyota    Diesel    Automatic          2            0               0
4   Honda    Petrol       Manual          1            1               1